flows/Smart_Datacenter_flow_FINAL.json
[
    {
        "id": "5927d54efdaafe0b",
        "type": "tab",
        "label": "Smart Datacenter",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e984487ab1f019cf",
        "type": "ui_gauge",
        "z": "5927d54efdaafe0b",
        "name": "",
        "group": "6166fd06a2923e86",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "32",
        "diff": false,
        "className": "",
        "x": 1970,
        "y": 660,
        "wires": []
    },
    {
        "id": "3c5a35d59f26a344",
        "type": "ui_gauge",
        "z": "5927d54efdaafe0b",
        "name": "",
        "group": "6166fd06a2923e86",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad relativa",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 1990,
        "y": 700,
        "wires": []
    },
    {
        "id": "c11f00da76ea79d4",
        "type": "ui_gauge",
        "z": "5927d54efdaafe0b",
        "name": "",
        "group": "6166fd06a2923e86",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Batería respaldo",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "20",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 1980,
        "y": 740,
        "wires": []
    },
    {
        "id": "8e8f39edfcd5a080",
        "type": "ui_gauge",
        "z": "5927d54efdaafe0b",
        "name": "",
        "group": "6166fd06a2923e86",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CO",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "50",
        "diff": false,
        "className": "",
        "x": 1950,
        "y": 780,
        "wires": []
    },
    {
        "id": "8b97471bd7a62ae0",
        "type": "ui_text",
        "z": "5927d54efdaafe0b",
        "group": "143496673d4ddeab",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "HVAC",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1970,
        "y": 900,
        "wires": []
    },
    {
        "id": "483ea54e0e29c0ea",
        "type": "ui_text",
        "z": "5927d54efdaafe0b",
        "group": "143496673d4ddeab",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Generador",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1990,
        "y": 940,
        "wires": []
    },
    {
        "id": "6644f01982b7d985",
        "type": "ui_text",
        "z": "5927d54efdaafe0b",
        "group": "143496673d4ddeab",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alerta de Intruso",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2000,
        "y": 1020,
        "wires": []
    },
    {
        "id": "5214d33c490ce275",
        "type": "ui_text",
        "z": "5927d54efdaafe0b",
        "group": "143496673d4ddeab",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alerta de incendio",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2010,
        "y": 1060,
        "wires": []
    },
    {
        "id": "7ab039e06486e186",
        "type": "ui_button",
        "z": "5927d54efdaafe0b",
        "name": "",
        "group": "7571a695af6993b0",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Alerta Intruso",
        "tooltip": "",
        "color": "",
        "bgcolor": "#FF6B6B",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "str",
        "topic": "intruder",
        "topicType": "msg",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "3665ed5ac06e431f"
            ]
        ]
    },
    {
        "id": "7eeee8ebaf69df32",
        "type": "ui_button",
        "z": "5927d54efdaafe0b",
        "name": "",
        "group": "7571a695af6993b0",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Alerta Incendio",
        "tooltip": "",
        "color": "",
        "bgcolor": "#FF6B6B",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "str",
        "topic": "fire",
        "topicType": "msg",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "99be36662ebc9707"
            ]
        ]
    },
    {
        "id": "ae0b2865dcb00ed4",
        "type": "ui_button",
        "z": "5927d54efdaafe0b",
        "name": "",
        "group": "ab38f4c688584720",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "#70A1D7",
        "className": "",
        "icon": "",
        "payload": "reset",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "7be254491bcb6f43"
            ]
        ]
    },
    {
        "id": "add38495138dc670",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "State Manager",
        "func": "// Estado de conexión\nlet isOnline = flow.get(\"online\");\nif (isOnline === undefined) isOnline = true;\n\n// Recuperar el estado anterior (si no existe, usar valores iniciales)\nlet lastState = flow.get(\"systemState\") || {\n    temperature: 24,\n    humidity: 50,\n    battery: 70,\n    co: 0,\n    hvac: false,\n    generator: false,\n    extinguisher: false,\n    intruder: false,\n    fire: false,\n    door: \"CERRADA\",\n    online: isOnline\n};\n\n// Recibir datos nuevos\nlet incomingData = msg.system || {}; \n\n// Estado actual combinado con el anterior\nlet currentState = { ...lastState, ...incomingData, online: isOnline };\n\n// Detectar cambios\nlet changes = {};\nlet hasChanged = false;\n\n// Comparar estado entrante vs. estado anterior\nfor (let key in incomingData) {\n    if (incomingData[key] !== lastState[key]) {\n        changes[key] = {\n            from: lastState[key],\n            to: incomingData[key]\n        };\n        hasChanged = true;\n    }\n}\n\n\n// Guardar el estado y actualizar flujo solo cuando hay cambios\nif (hasChanged) {\n    currentState.lastUpdate = new Date().toISOString();\n    flow.set(\"systemState\", currentState);\n}\n\nmsg.system = currentState;\nmsg.changes = changes;\nmsg.hasChanged = hasChanged;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 500,
        "wires": [
            [
                "a0145dc789a32602",
                "09fcb41ed2e0fe01",
                "c10ad1a9a03152ed",
                "ba279963b33a2b89"
            ]
        ]
    },
    {
        "id": "3665ed5ac06e431f",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "trigger_intruder",
        "func": "let msgEvent = {\n    event: { type: \"INTRUDER_TRIGGER\" },\n    topic: \"event\"\n};\n\nreturn msgEvent;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [
                "f7d7a111c97ec8a7"
            ]
        ]
    },
    {
        "id": "7be254491bcb6f43",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "Reset",
        "func": "// Reset de timers (condición sostenida)\nflow.set(\"fireTimer\", null);\nflow.set(\"batteryTimer\", null);\nflow.set(\"hvacTimer\", null);\n\n// Reset de simulación\nflow.set(\"coTrigger\", false);\nflow.set(\"tempTrigger\", false);\nflow.set(\"batteryDrain\", false);\n\n// Reset de pop ups\nflow.set(\"hvacNotified\", false);\nflow.set(\"generatorNotified\", false);\nflow.set(\"fireNotified\", false);\n\n// Reset de Flags\nflow.set(\"intruderActive\", false);\nflow.set(\"activeMessage\", null);\n\n// Estado base\nlet system = {\n    temperature: 24,\n    humidity: 50,\n    battery: 70,\n    co: 0,\n    hvac: false,\n    generator: false,\n    extinguisher: false,\n    intruder: false,\n    fire: false,\n    door: \"CERRADA\",\n    message: \"🔄️ Sistema reiniciado\",\n    attempts: 0\n};\n\n// Pop up de reset\nlet notification = {\n    payload: \"🔄️ Sistema reiniciado correctamente.\"\n}\n\n// Guardar valores a nivel global\nflow.set(\"system\", system);\nflow.set(\"temp_system\", system);\nflow.set(\"sim_state\", system);\n\n// Limpiar eventos\nmsg.event = null;\n\n// Output\nmsg.system = system;\n\nreturn [msg, notification];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 400,
        "wires": [
            [
                "f7d7a111c97ec8a7"
            ],
            [
                "6caab99b7171100f"
            ]
        ]
    },
    {
        "id": "6578e31577abe420",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "hvac_payload",
        "func": "msg.payload = msg.system.hvac ? \"🟢 ON\" : \"🔴 OFF\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 900,
        "wires": [
            [
                "8b97471bd7a62ae0"
            ]
        ]
    },
    {
        "id": "ea41c4b2848f45df",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "generator_payload",
        "func": "msg.payload = msg.system.generator ? \"🟢 ON\" : \"🔴 OFF\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 940,
        "wires": [
            [
                "483ea54e0e29c0ea"
            ]
        ]
    },
    {
        "id": "fd41ec698bd0280d",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "intruder_payload",
        "func": "msg.payload = msg.system.intruder ? \"🚨 ACTIVA: Puerta bloqueada\" : \"SEGURO\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 1020,
        "wires": [
            [
                "6644f01982b7d985"
            ]
        ]
    },
    {
        "id": "7252ac4d4796d9b4",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "fire_payload",
        "func": "msg.payload = msg.system.fire ? \"🚨 ACTIVA: CO alto\" : \"NORMAL\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1710,
        "y": 1060,
        "wires": [
            [
                "5214d33c490ce275"
            ]
        ]
    },
    {
        "id": "a255be4fa64ac1e5",
        "type": "ui_text_input",
        "z": "5927d54efdaafe0b",
        "name": "",
        "label": "Credencial",
        "tooltip": "",
        "group": "23f34b1fb3702c79",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "credential",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "89a6a4c757131b21"
            ]
        ]
    },
    {
        "id": "82afb03b1ed7d368",
        "type": "ui_text",
        "z": "5927d54efdaafe0b",
        "group": "23f34b1fb3702c79",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado de la Puerta",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2010,
        "y": 1100,
        "wires": []
    },
    {
        "id": "8579dce8c39f0995",
        "type": "ui_text",
        "z": "5927d54efdaafe0b",
        "group": "23f34b1fb3702c79",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Intentos",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1980,
        "y": 1140,
        "wires": []
    },
    {
        "id": "0475f6b5e8e5c8cf",
        "type": "ui_text",
        "z": "5927d54efdaafe0b",
        "group": "ab38f4c688584720",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mensaje del Sistema",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2020,
        "y": 1180,
        "wires": []
    },
    {
        "id": "89a6a4c757131b21",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "Control de acceso",
        "func": "let system = flow.get(\"system\") || {\n    attempts: 0\n};\n\nlet credential = msg.payload.toString();\n\nlet event = null;\nlet notification = \"\";\n\n// Validación de credenciales\nif (credential.endsWith(\"E32\")) {\n\n    system.attempts = 0;\n\n    event = { type: \"ACCESS_GRANTED\" };\n    notification = \"✅ Acceso autorizado\";\n\n} else {\n\n    system.attempts += 1;\n\n    if (system.attempts >= 3) {\n\n        event = { type: \"INTRUDER_TRIGGER\" };\n        notification = \"🚨 ALERTA: Intruso detectado. Puerta bloqueada.\";\n\n    } else {\n\n        event = { type: \"ACCESS_DENIED\" };\n        notification = \"❌ Acceso no autorizado\";\n    }\n}\n\n// Guardar estado global\nflow.set(\"system\", system);\n\n// Output\nmsg.event = event;\n\nmsg.system = system;\n\nmsg.payload = notification;\nmsg.topic = \"event\";\n\nreturn [msg];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 300,
        "wires": [
            [
                "f7d7a111c97ec8a7"
            ]
        ]
    },
    {
        "id": "0af8e63feac526a8",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "door_payload",
        "func": "msg.payload = msg.system.door\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 1100,
        "wires": [
            [
                "82afb03b1ed7d368"
            ]
        ]
    },
    {
        "id": "3cf2eacf6748c35a",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "attempt_payload",
        "func": "msg.payload = msg.system.attempts\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 1140,
        "wires": [
            [
                "8579dce8c39f0995"
            ]
        ]
    },
    {
        "id": "0f9e59daa995a79e",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "message_payload",
        "func": "msg.payload = msg.system.message\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 1180,
        "wires": [
            [
                "0475f6b5e8e5c8cf"
            ]
        ]
    },
    {
        "id": "99be36662ebc9707",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "trigger_fire",
        "func": "flow.set(\"coTrigger\", true);\nreturn null;",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 340,
        "wires": []
    },
    {
        "id": "2fc531b1c3d8f3da",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "set_co_gauge",
        "func": "msg.payload = msg.system.co;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 800,
        "wires": [
            [
                "8e8f39edfcd5a080"
            ]
        ]
    },
    {
        "id": "23c919eeb894a0db",
        "type": "ui_button",
        "z": "5927d54efdaafe0b",
        "name": "",
        "group": "7571a695af6993b0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Activar HVAC de emergencia",
        "tooltip": "",
        "color": "",
        "bgcolor": "#6BCB77",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "str",
        "topic": "hvac",
        "topicType": "msg",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "e3e8502862ebda38"
            ]
        ]
    },
    {
        "id": "e3e8502862ebda38",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "trigger_hvac",
        "func": "flow.set(\"tempTrigger\", true);\nreturn null;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e2758f4e81189d60",
        "type": "ui_button",
        "z": "5927d54efdaafe0b",
        "name": "",
        "group": "7571a695af6993b0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Activar generador",
        "tooltip": "",
        "color": "",
        "bgcolor": "#FFD93D",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "str",
        "topic": "generator",
        "topicType": "msg",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "e7c238228ddcf10c"
            ]
        ]
    },
    {
        "id": "e7c238228ddcf10c",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "trigger_generator",
        "func": "flow.set(\"batteryDrain\", true);\nreturn null;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fdf6a3c302de09d8",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "set_temperature",
        "func": "msg.payload = msg.system.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 680,
        "wires": [
            [
                "e984487ab1f019cf"
            ]
        ]
    },
    {
        "id": "07deaec009e4e773",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "set_humidity",
        "func": "msg.payload = msg.system.humidity;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1710,
        "y": 720,
        "wires": [
            [
                "3c5a35d59f26a344"
            ]
        ]
    },
    {
        "id": "a2d5019d4314db6d",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "set_battery",
        "func": "msg.payload = msg.system.battery;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1710,
        "y": 760,
        "wires": [
            [
                "c11f00da76ea79d4"
            ]
        ]
    },
    {
        "id": "32e29b2cf30173b1",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "extinguisher_payload",
        "func": "msg.payload = msg.system.extinguisher ? \"🟢 ON\" : \"🔴 OFF\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 980,
        "wires": [
            [
                "65d57dee705f274f"
            ]
        ]
    },
    {
        "id": "65d57dee705f274f",
        "type": "ui_text",
        "z": "5927d54efdaafe0b",
        "group": "143496673d4ddeab",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sistema Extintor",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2000,
        "y": 980,
        "wires": []
    },
    {
        "id": "22d5926b9024cc23",
        "type": "comment",
        "z": "5927d54efdaafe0b",
        "name": "INPUTS",
        "info": "",
        "x": 100,
        "y": 120,
        "wires": []
    },
    {
        "id": "c53a056bb68ae076",
        "type": "comment",
        "z": "5927d54efdaafe0b",
        "name": "POP UPS",
        "info": "",
        "x": 1080,
        "y": 680,
        "wires": []
    },
    {
        "id": "735355bd7ddde4a7",
        "type": "comment",
        "z": "5927d54efdaafe0b",
        "name": "TRIGGERS EVENTOS",
        "info": "",
        "x": 460,
        "y": 140,
        "wires": []
    },
    {
        "id": "6f6cfaf2f3d91311",
        "type": "comment",
        "z": "5927d54efdaafe0b",
        "name": "ELEMENTOS UI",
        "info": "",
        "x": 1980,
        "y": 600,
        "wires": []
    },
    {
        "id": "771d23ef79ff2eec",
        "type": "comment",
        "z": "5927d54efdaafe0b",
        "name": "FORMATO DE OUTPUTS",
        "info": "",
        "x": 1710,
        "y": 620,
        "wires": []
    },
    {
        "id": "f7d7a111c97ec8a7",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "Normalizer",
        "func": "let system = flow.get(\"system\") || {\n    temperature: 24,\n    humidity: 50,\n    battery: 70,\n    co: 0,\n    hvac: false,\n    generator: false,\n    extinguisher: false,\n    intruder: false,\n    fire: false,\n    door: \"CERRADA\",\n    message: \"Normal\",\n    attempts: 0\n};\n\n// TELEMETRÍA\nif (msg.topic === \"telemetry\" && msg.payload) {\n    \n    let allowed = [\"temperature\", \"humidity\", \"battery\", \"co\"];\n\n    for (let key of allowed) {\n        if (msg.payload[key] !== undefined) {\n            system[key] = msg.payload[key];\n        }\n    }\n}\n\n// EVENTOS (ESP32)\n// Acceso autorizado\nif (msg.topic === \"iot/access/granted\") {\n    msg.event = { type: \"ACCESS_GRANTED\" };\n    msg.topic = \"event\";\n}\n\n// Acceso denegado\nif (msg.topic === \"iot/access/denied\") {\n    msg.event = { type: \"ACCESS_DENIED\" };\n    msg.topic = \"event\";\n    system.attempts += 1;\n}\n\n// Alerta de intruso\nif (msg.topic === \"iot/access/events\" && msg.payload.intruder === true) {\n    msg.event = { type: \"INTRUDER_TRIGGER\" };\n    msg.topic = \"event\";\n}\n\n// OUTPUT\nmsg.system = system;\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 500,
        "wires": [
            [
                "add38495138dc670"
            ]
        ]
    },
    {
        "id": "906543f957d49bad",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "connectivity_payload",
        "func": "msg.payload = msg.system.online ? \"🛜 Online\" : \"❌ Offline\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 860,
        "wires": [
            [
                "5a9e2c052be73f30"
            ]
        ]
    },
    {
        "id": "5a9e2c052be73f30",
        "type": "ui_text",
        "z": "5927d54efdaafe0b",
        "group": "143496673d4ddeab",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Conexión",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1980,
        "y": 860,
        "wires": []
    },
    {
        "id": "8807fa3e59c437e9",
        "type": "inject",
        "z": "5927d54efdaafe0b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "2dfd8a301c0a2a49"
            ]
        ]
    },
    {
        "id": "2dfd8a301c0a2a49",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "Sensor Simulator",
        "func": "// Valores iniciales\nlet sim = flow.get(\"sim_state\") || {\n    temperature: 24,\n    humidity: 50,\n    battery: 100,\n    co: 0\n};\n\nlet system = msg.system || flow.get(\"system\") || {};\nlet now = Date.now();\n\n// Timers de regreso a estado normal\nlet hvacOnSince = flow.get(\"hvacOnSince\") || null;\nlet genOnSince = flow.get(\"genOnSince\") || null;\nlet fireOnSince = flow.get(\"fireOnSince\") || null;\n\n// Triggers de eventos\nlet tempTrigger = flow.get(\"tempTrigger\") || false;\nlet batteryDrain = flow.get(\"batteryDrain\") || false;\nlet coTrigger = flow.get(\"coTrigger\") || false;\n\n// Incremento de temepratura y humedad (trigger)\nif (tempTrigger && !system.hvac) {\n    sim.temperature += 1;\n    sim.humidity += 2;\n}\n\n// Decremento temperatura y humedad (regreso a valores iniciales)\nif (system.hvac) {\n    flow.set(\"tempTrigger\", false);\n\n    if (!hvacOnSince) {\n        flow.set(\"hvacOnSince\", now);\n    }\n\n    // Esperar 10 segundos\n    if (now - hvacOnSince > 10000) {\n        sim.temperature -= 1; \n        sim.humidity -= 2;\n    }\n\n} else {\n    // reset cuando HVAC= OFF\n    flow.set(\"hvacOnSince\", null);\n}\n\n// Decremento batería (trigger)\nif (batteryDrain) {\n    sim.battery -= 5;\n}\n\n// Recarga de batería\nif (system.generator) {\n    flow.set(\"batteryDrain\", false);\n\n    if (!genOnSince) {\n        genOnSince = now;\n        flow.set(\"genOnSince\", genOnSince);\n    }\n\n    if (now - genOnSince > 10000) {\n        sim.battery += 1;\n    }\n\n} else {\n    flow.set(\"genOnSince\", null);\n}\n\n// Incremento de CO (incendio)\nif (coTrigger) {\n    sim.co += 4;\n}\n\n// Decremento de CO\nif (system.extinguisher) {\n    flow.set(\"coTrigger\", false);\n\n    if (!fireOnSince) {\n        fireOnSince = now;\n        flow.set(\"fireOnSince\", fireOnSince);\n    }\n\n    if (now - fireOnSince > 10000) {\n        sim.co -= 4;\n    }\n\n} else {\n    flow.set(\"fireOnSince\", null);\n}\n\n\n// Límites\nsim.temperature = Math.max(23, Math.min(40, sim.temperature));\nsim.humidity = Math.max(50, Math.min(82, sim.humidity));\nsim.battery = Math.max(15, Math.min(100, sim.battery));\nsim.co = Math.max(0, Math.min(70, sim.co));\n\n\n// Guardar valores\nflow.set(\"sim_state\", sim);\n\n// Output\nmsg.topic = \"telemetry\";\nmsg.payload = sim;\nmsg.system = system;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 580,
        "wires": [
            [
                "f7d7a111c97ec8a7"
            ]
        ]
    },
    {
        "id": "a59714e8e376d15d",
        "type": "ui_toast",
        "z": "5927d54efdaafe0b",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "NOTIFICATION",
        "name": "Pop up incendio",
        "x": 1380,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "2575a96b1278d52b",
        "type": "ui_toast",
        "z": "5927d54efdaafe0b",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "NOTIFICATION",
        "name": "Pop up generador",
        "x": 1390,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "47b8db7c43c24431",
        "type": "ui_toast",
        "z": "5927d54efdaafe0b",
        "position": "top right",
        "displayTime": "10",
        "highlight": "#F7C85C",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "WARNING",
        "name": "Popup extintor",
        "x": 1380,
        "y": 880,
        "wires": []
    },
    {
        "id": "91db6965716225fe",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "intruder_popup_payload",
        "func": "if (msg.event) {\nif (msg.event.type === \"ACCESS_GRANTED\") {\n    msg.payload = \"✅ Acceso autorizado\";\n    return msg;\n}\n\nif (msg.event.type === \"INTRUDER_TRIGGER\") {\n    msg.payload = \"🚨 ALERTA: Intruso detectado. Puerta bloqueada\";\n    return msg;\n}\n}\n\n\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 840,
        "wires": [
            [
                "980764a804ef8883"
            ]
        ]
    },
    {
        "id": "980764a804ef8883",
        "type": "ui_toast",
        "z": "5927d54efdaafe0b",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "NOTIFICATION",
        "name": "Popup intruso",
        "x": 1380,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "6caab99b7171100f",
        "type": "ui_toast",
        "z": "5927d54efdaafe0b",
        "position": "top right",
        "displayTime": "3",
        "highlight": "#6FAF4F",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Notification",
        "name": "Pop up reset",
        "x": 430,
        "y": 460,
        "wires": []
    },
    {
        "id": "4e33ee764dca3051",
        "type": "comment",
        "z": "5927d54efdaafe0b",
        "name": "SIMULACIÓN DE EVENTOS (LOCAL)",
        "info": "",
        "x": 210,
        "y": 520,
        "wires": []
    },
    {
        "id": "a0145dc789a32602",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "System Logic",
        "func": "let system = msg.system;\nlet now = Date.now();\n\n// --------------------\n// IGNORAR SHADOW\n// --------------------\nif (msg.fromStateUpdate) {\n    msg.system = system;\n    return msg;\n}\n\n// Estado default de desired\nmsg.desired = {\n    hvac: false,\n    generator: false,\n    extinguisher: false\n};\n\n// ====================\n// 1. EVENTOS INMEDIATOS\n// ====================\n\nif (msg.event) {\n\n    if (msg.event.type === \"ACCESS_GRANTED\") {\n        flow.set(\"activeMessage\", {\n            text: \"✅ Acceso autorizado\",\n            expires: now + 5000\n        });\n\n        flow.set(\"intruderActive\", false);\n        system.door = \"ABIERTA\";\n    }\n\n    if (msg.event.type === \"ACCESS_DENIED\") {\n        flow.set(\"activeMessage\", {\n            text: \"❌ Acceso no autorizado\",\n            expires: now + 5000\n        });\n    }\n\n    if (msg.event.type === \"INTRUDER_TRIGGER\") {\n        flow.set(\"activeMessage\", {\n            text: \"🚨 Intruso detectado\",\n            expires: now + 5000\n        });\n\n        flow.set(\"intruderActive\", true);\n    }\n}\n\n// ====================\n// 2. REAPLICAR ESTADO PERSISTENTE\n// ====================\n\nlet intruderActive = flow.get(\"intruderActive\") || false;\n\nif (intruderActive) {\n    system.intruder = true;\n    system.door = \"🚨BLOQUEADA\";\n} else {\n    system.intruder = false;\n}\n\n// ====================\n// 3. HVAC (condición sostenida)\n// ====================\n\nlet hvacStart = flow.get(\"hvacStart\") || null;\n\nlet hvacCondition =\n    system.temperature > 32 ||\n    system.temperature < 15 ||\n    system.humidity > 80 ||\n    system.humidity < 20;\n\nif (hvacCondition) {\n\n    if (!hvacStart) hvacStart = now;\n\n    if (now - hvacStart > 5000) {\n            msg.desired.hvac = true;\n            if (!flow.get(\"hvacNotified\")) {\n                flow.set(\"hvacNotified\", true);\n            }\n    }\n\n} else {\n    hvacStart = null;\n    msg.desired.hvac = false;\n    flow.set(\"hvacNotified\", false);\n}\n\nflow.set(\"hvacStart\", hvacStart);\n\n// ====================\n// 4. GENERADOR\n// ====================\n\nlet genStart = flow.get(\"genStart\") || null;\n\nif (system.battery < 20) {\n\n    if (!genStart) genStart = now;\n\n    if (now - genStart > 5000) {\n        \n        msg.desired.generator = true;\n\n        if (!flow.get(\"generatorNotified\")) {\n            flow.set(\"generatorNotified\", true);\n        }\n    }    \n\n} else {\n    genStart = null;\n    msg.desired.generator = false;\n    flow.set(\"generatorNotified\", false);\n}\n\nflow.set(\"genStart\", genStart);\n\n// ====================\n// 5. INCENDIO\n// ====================\n\nlet fireStart = flow.get(\"fireStart\") || null;\n\nif (system.co > 50) {\n\n    if (!fireStart) fireStart = now;\n\n    if (now - fireStart > 5000) {\n        system.fire = true;\n        \n        msg.desired.extinguisher = true;\n\n        if (!flow.get(\"fireNotified\")) {\n            flow.set(\"fireNotified\", true);\n        }\n    }\n\n} else {\n    fireStart = null;\n    system.fire = false;\n\n    msg.desired.extinguisher = false;\n    flow.set(\"fireNotified\", false);\n}\n\nflow.set(\"fireStart\", fireStart);\n\n// ====================\n// 6. PRIORIDAD: INCENDIO\n// ====================\n\nif (system.fire) {\n    system.door = \"ABIERTA\";\n    system.hvac = false;\n    system.generator = false;\n    system.message = \"🔥 Evacuación por incendio\";\n} \n\nelse if (intruderActive) {\n    system.message = \"🚨 Intruso detectado\";\n}\n\nelse {\n    let active = flow.get(\"activeMessage\");\n\n    if (active && now < active.expires) {\n        system.message = active.text;\n    } else {\n        system.message = \"Normal\";\n    }\n}\n\n// Forzar siempre un mensaje\nmsg.desired = msg.desired || {};\nmsg.timestamp = Date.now(); \n\n// ====================\n// OUTPUT\n// ====================\n\nmsg.system = system;\nflow.set(\"system\", system);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 500,
        "wires": [
            [
                "fd41ec698bd0280d",
                "7252ac4d4796d9b4",
                "0af8e63feac526a8",
                "0f9e59daa995a79e",
                "fdf6a3c302de09d8",
                "07deaec009e4e773",
                "a2d5019d4314db6d",
                "2fc531b1c3d8f3da",
                "906543f957d49bad",
                "91db6965716225fe",
                "3cf2eacf6748c35a",
                "0abff74e378387c1",
                "46d8652c61b59a11"
            ]
        ]
    },
    {
        "id": "ba279963b33a2b89",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "hvac_popup_payload",
        "func": "if (!msg.changes) return null;\n\nif (msg.changes.hvac && msg.changes.hvac.to === true) {\n    msg.payload = \"⚠️ ADVERTENCIA: Temperatura/humedad fuera de rango. HVAC de emergencia activado.\";\n    return msg;\n}\n\nelse if (msg.changes.hvac && msg.changes.hvac.to === false) {\n    msg.payload = \"✅ Temperatura/humedad dentro de rango seguro. HVAC de emergencia apagado.\";\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 720,
        "wires": [
            [
                "c1b2e4ca37bf2a3b"
            ]
        ]
    },
    {
        "id": "09fcb41ed2e0fe01",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "generator_popup_payload",
        "func": "if (!msg.changes) return null;\n\nif (msg.changes.generator && msg.changes.generator.to === true) {\n    msg.payload = \"⚠️ ADVERTENCIA: Batería de respaldo baja. Generador de emergencia activado.\";\n    return msg;\n}\n\nif (msg.changes.generator && msg.changes.generator.to === false) {\n    msg.payload = \"✅ Nivel de batería restaurada. Generador de emergencia apagado.\";\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 760,
        "wires": [
            [
                "2575a96b1278d52b"
            ]
        ]
    },
    {
        "id": "c10ad1a9a03152ed",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "fire_popup_payload",
        "func": "if (!msg.changes) return null;\n\nif (msg.changes.fire && msg.changes.fire.to === true) {\n    msg.payload = \"🚨 ALERTA: Incendio detectado. Evacuar inmediatamente.\";\n    let notification = {\n        payload: \"⚠️ ADVERTENCIA: Sistema de extinción tipo C activado.\"\n    };\n    return [msg,notification];\n}\n\nif (msg.changes.fire && msg.changes.fire.to === false) {\n    msg.payload = \"✅ Incendio controlado. Proceder con precaución.\";\n    let notification = {\n        payload: \"⚠️ Sistema de extinción tipo C apagado.\"\n    };\n    return [msg,notification];\n}\n\nreturn null;\n\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 800,
        "wires": [
            [
                "a59714e8e376d15d"
            ],
            [
                "47b8db7c43c24431"
            ]
        ]
    },
    {
        "id": "c1b2e4ca37bf2a3b",
        "type": "ui_toast",
        "z": "5927d54efdaafe0b",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "NOTIFICATION",
        "name": "Pop up HVAC",
        "x": 1380,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "6a78fe9e237de509",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "Shadow Formatter",
        "func": "let desired = msg.desired || {};\nlet last = flow.get(\"lastDesired\") || {};\n\nlet diff = {};\n\n// detectar cambios reales\nfor (let key in desired) {\n    if (desired[key] !== last[key]) {\n        diff[key] = desired[key];\n    }\n}\n\n// guardar estado\nflow.set(\"lastDesired\", desired);\n\n// si no hay cambios, no enviar\nif (Object.keys(diff).length === 0) {\n    return null;\n}\n\n// enviar SOLO cambios\nmsg.payload = {\n    state: {\n        desired: diff\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 200,
        "wires": [
            [
                "1a8ce7a37ef3e2ca"
            ]
        ]
    },
    {
        "id": "1a8ce7a37ef3e2ca",
        "type": "mqtt out",
        "z": "5927d54efdaafe0b",
        "name": "AWS --> Out",
        "topic": "$aws/things/smart-datacenter/shadow/update",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ef4bf94f09375745",
        "x": 1830,
        "y": 200,
        "wires": []
    },
    {
        "id": "0abff74e378387c1",
        "type": "rbe",
        "z": "5927d54efdaafe0b",
        "name": "report by exception",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1390,
        "y": 200,
        "wires": [
            [
                "6a78fe9e237de509"
            ]
        ]
    },
    {
        "id": "297e5aa774c3c6ee",
        "type": "mqtt in",
        "z": "5927d54efdaafe0b",
        "name": "AWS --> In",
        "topic": "$aws/things/smart-datacenter/shadow/update/delta",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ef4bf94f09375745",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1360,
        "y": 260,
        "wires": [
            [
                "c77ce1efe0e333db"
            ]
        ]
    },
    {
        "id": "c77ce1efe0e333db",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "Actuator Handler",
        "func": "// ====================\n// 1. LEER DELTA\n// ====================\n\nlet delta = msg.payload.state || {};\n\n// ====================\n// 2. OBTENER SYSTEM ACTUAL\n// ====================\n\nlet system = flow.get(\"system\") || {};\n\n// ====================\n// 3. APLICAR CAMBIOS (ACTUADORES)\n// ====================\n\nlet reported = {};\n\nif (delta.hvac !== undefined) {\n    system.hvac = delta.hvac;\n    reported.hvac = delta.hvac;\n}\n\nif (delta.generator !== undefined) {\n    system.generator = delta.generator;\n    reported.generator = delta.generator;\n}\n\nif (delta.extinguisher !== undefined) {\n    system.extinguisher = delta.extinguisher;\n    reported.extinguisher = delta.extinguisher;\n}\n\n// ====================\n// 4. GUARDAR SYSTEM\n// ====================\n\nflow.set(\"system\", system);\n\n// ====================\n// 5. PREPARAR REPORTE A AWS\n// ====================\n\nmsg.payload = {\n    state: {\n        reported: reported\n    }\n};\n\n// ====================\n// 6. MARCAR COMO UPDATE DESDE SHADOW\n// ====================\n\nmsg.system = system;\nmsg.fromStateUpdate = true;\n\n// ====================\n// DEBUG OPCIONAL\n// ====================\n\nnode.warn(\"Actuadores aplicados: \" + JSON.stringify(reported));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 260,
        "wires": [
            [
                "1a8ce7a37ef3e2ca",
                "ea41c4b2848f45df",
                "32e29b2cf30173b1",
                "6578e31577abe420"
            ]
        ]
    },
    {
        "id": "c03c2024efbad2ff",
        "type": "comment",
        "z": "5927d54efdaafe0b",
        "name": "DEVICE SHADOW (AWS)",
        "info": "",
        "x": 1410,
        "y": 140,
        "wires": []
    },
    {
        "id": "8450d361d43b5d0e",
        "type": "inject",
        "z": "5927d54efdaafe0b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 710,
        "y": 580,
        "wires": [
            [
                "f7d7a111c97ec8a7"
            ]
        ]
    },
    {
        "id": "46d8652c61b59a11",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "DynamoDB Formatter",
        "func": "let system = msg.system;\nlet now = Date.now();\n\nlet awsConnected = global.get(\"awsConnected\") || true;\nlet mode = awsConnected ? \"online\" : \"offline\";\n\nlet events = [];\n\n// Función dedupe (mismo evento en < 60s, no se envía)\nfunction shouldSend(key) {\n    const last = global.get(\"LAST_EVENT_SENT\") || {};\n    if (last[key] && (now - last[key]) < 10000) {\n        return false; \n    }\n\n    last[key] = now;\n    global.set(\"LAST_EVENT_SENT\", last);\n    return true;\n}\n\n// Eventos con Shadow\nif (system.hvac) {\n\n    let key = \"hvac_emergency_ON\";\n\n    if (shouldSend(key)) {\n        events.push({\n            eventType: \"hvac_emergency\",\n            severity: \"WARN\",\n            description: \"Temperatura o humedad fuera de rango\",\n            source: \"sensor_humidity_temp\",\n            measurements: {temp: system.temperature, humidity: system.humidity},\n            actionsTaken: [\"desired HVAC ON\"],\n            mode: mode,\n            dedupeKey: key,\n            timestamp: new Date().toISOString()\n        });\n    }\n}\n\nif (system.generator) {\n\n    let key = \"generator_low_battery\";\n\n    if (shouldSend(key)) {\n        events.push({\n            eventType: \"generator_low_battery\",\n            severity: \"WARN\",\n            description: \"Batería < 20%\",\n            source: \"sensor_battery\",\n            measurements: {battery: system.battery},\n            actionsTaken: [\"desired Generator ON\"],\n            mode: mode,\n            dedupeKey: key,\n            timestamp: new Date().toISOString()\n        });\n    }\n}\n\nif (system.extinguisher) {\n\n    let key = \"fire_extinguisher\";\n\n    if (shouldSend(key)) {\n        events.push({\n            eventType: \"fire_extinguisher\",\n            severity: \"CRITICAL\",\n            description: \"Nivel de CO > 50 ppm\",\n            source: \"sensor_CO\",\n            measurements: {CO: system.co},\n            actionsTaken: [\"desired Extinguisher ON\"],\n            mode: mode,\n            dedupeKey: key,\n            timestamp: new Date().toISOString()\n        });\n    }\n}\n\n// Eventos de emergencia inmediata\nif (system.fire) {\n\n    let key = \"fire_alert\";\n\n    if (shouldSend(key)) {\n        events.push({\n            eventType: \"fire_alert\",\n            severity: \"CRITICAL\",\n            description: \"Incendio detectado, activar evacuación\",\n            source: \"sensor_CO\",\n            measurements: {CO: system.co},\n            actionsTaken: [\"alarma visual activada\", \"puerta abierta\"],\n            mode: mode,\n            dedupeKey: key,\n            timestamp: new Date().toISOString()\n        });\n    }\n}\n\nif (system.intruder) {\n\n    let key = \"intruder_alert\";\n\n    if (shouldSend(key)) {\n        events.push({\n            eventType: \"intruder_alert\",\n            severity: \"CRITICAL\",\n            description: \"Intruso detectado, puerta bloqueada\",\n            source: \"sensor_door\",\n            measurements: {},\n            actionsTaken: [\"alarma visual activada\", \"puerta bloqueada\"],\n            mode: mode,\n            dedupeKey: key,\n            timestamp: new Date().toISOString()\n        });\n    }\n}\n\n// Output \nmsg.payload = events;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 440,
        "wires": [
            [
                "21ea08bff0290de1"
            ]
        ]
    },
    {
        "id": "21ea08bff0290de1",
        "type": "function",
        "z": "5927d54efdaafe0b",
        "name": "iteracion_eventos",
        "func": "let events = msg.payload;\nlet msgs = [];\n\nevents.forEach(event => {\n    msgs.push({ payload: event });\n});\n\nreturn [msgs];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 440,
        "wires": [
            [
                "87e2d03cc2768b35"
            ]
        ]
    },
    {
        "id": "87e2d03cc2768b35",
        "type": "mqtt out",
        "z": "5927d54efdaafe0b",
        "name": "Node-RED --> DynamoDB",
        "topic": "smart-datacenter/events",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ef4bf94f09375745",
        "x": 1960,
        "y": 440,
        "wires": []
    },
    {
        "id": "989da5d395498cc3",
        "type": "comment",
        "z": "5927d54efdaafe0b",
        "name": "EVENTOS (DynamoDB)",
        "info": "",
        "x": 1450,
        "y": 400,
        "wires": []
    },
    {
        "id": "8ac8cc4fca49c2c2",
        "type": "mqtt in",
        "z": "5927d54efdaafe0b",
        "name": "Wokwi --> Node-RED",
        "topic": "iot/access/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "4157038d15402728",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 740,
        "wires": [
            [
                "f7d7a111c97ec8a7"
            ]
        ]
    },
    {
        "id": "6db39c67e6c77f5c",
        "type": "comment",
        "z": "5927d54efdaafe0b",
        "name": "SIMULACIÓN WOKWI",
        "info": "",
        "x": 160,
        "y": 700,
        "wires": []
    },
    {
        "id": "6166fd06a2923e86",
        "type": "ui_group",
        "name": "Telemetría",
        "tab": "408e7de1f7496b12",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "143496673d4ddeab",
        "type": "ui_group",
        "name": "Estado del Sistema",
        "tab": "408e7de1f7496b12",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7571a695af6993b0",
        "type": "ui_group",
        "name": "Eventos",
        "tab": "408e7de1f7496b12",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab38f4c688584720",
        "type": "ui_group",
        "name": "Control del Sistema",
        "tab": "408e7de1f7496b12",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "23f34b1fb3702c79",
        "type": "ui_group",
        "name": "Control de Acceso",
        "tab": "408e7de1f7496b12",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef4bf94f09375745",
        "type": "mqtt-broker",
        "name": "AWS Datacenter",
        "broker": "a2z9872jjky3x1-ats.iot.us-east-2.amazonaws.com",
        "port": "8883",
        "tls": "f2b1e14945f2a9d4",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4157038d15402728",
        "type": "mqtt-broker",
        "name": "Public broker",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "408e7de1f7496b12",
        "type": "ui_tab",
        "name": "Smart Datacenter",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f2b1e14945f2a9d4",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "a3ce3578a1d3b64e353bd96b3bf36a00ab3eeb80c242b4ab992ae57e6408c322-certificate.pem.crt",
        "keyname": "a3ce3578a1d3b64e353bd96b3bf36a00ab3eeb80c242b4ab992ae57e6408c322-private.pem.key",
        "caname": "AmazonRootCA1.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "7691ba5e9e4c2062",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]